<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303299432775-0925d42nm6o1c41p3of4138hsbnkmebh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303299432775-0925d42nm6o1c41p3of4138hsbnkmebh</string>
	<key>API_KEY</key>
	<string>AIzaSyAI1xnWWLXa0dFgLHwdtXH_JdwxNE2RjW8</string>
	<key>GCM_SENDER_ID</key>
	<string>303299432775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoApp</string>
	<key>PROJECT_ID</key>
	<string>crypto-e2271</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-e2271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303299432775:ios:582ccd6fccca9c4de87c62</string>
	<key>DATABASE_URL</key>
	<string>https://crypto-e2271.firebaseio.com</string>
</dict>
</plist>